*{  /* 设置盒模型为css3盒模型 */
  box-sizing: border-box;
  /* 统一所有元素的初始边框 内边距 外边距 为0   统一获得焦点时的样式为无效果  */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  /* 统一重置所有元素默认背景色为透明 */
  background-color: transparent;
  /* 清除li 标签前面的小黑点 */
  list-style: none;
  /* 清除默认带下划线元素的下划线 */
  text-decoration: none; 
}

/* 使最外层根标签自动撑满浏览器窗口 */
html,body{height: 100%; width: 100%;}
/* 统一浏览器默认字体  同时解决行内元素在款元素中时存在间隙的问题 */
html{ font-size: 0; }
/* 设置基础文字大小  设置基础文字颜色 */
body { font-size: 14px; color: #333; }
/* 统一设置所有元素默认继承父元素字体颜色和字体大小 */
body *{ color: inherit;font-size: inherit; }
/* 设置按钮默认鼠标指针停留时为小手状态 */
button{ cursor: pointer; }
/* 统一设置按钮 和输入框的字体为12px */
button,input{font-size: 12px;}
/* 统一设置输入框文字提示文字的样式*/
input::-webkit-input-placeholder {  color: #999;  }
input::-moz-placeholder { color: #999; }
input:-ms-input-placeholder { color: #999; } 
 


 

 
 

